 .App {
  text-align: left;
  width: 400px;
  max-height: 600px;
  border: 2px solid blue;
  margin-left: 100px;
  margin-top: 50px;
   padding-bottom: 20px;

}

.form{
  margin-bottom: 10px;
  padding: 15px;
 }

 .task{
   margin-left: 10px;
     margin-bottom: 10px;
     display: flex;
     justify-content: space-between;
 }
 .task-button{
     margin-right: 5px;
     border: none;
     background-color: white;
     cursor: pointer;
 }

 .input-task{
     border: none;
     outline: none;
     width: 80%;
     font-style: italic;
     border-bottom: 1px solid blue;
 }
